body {
    background-color: lightgray;
}
.mainTitle {
    font-family: "Times New Roman";
    font-size: xx-large;
    font-weight: bold;
    color: #FF2300;
    text-align: center;
}

.player {
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 10px;
}

.back {
    height: 60px;
    width: 60px;
    display:inline-block;
    margin-right: 120px;
    margin-bottom: 150px;
    cursor: pointer;
}

.next {
    height: 60px;
    width: 60px;
    display:inline-block;
    margin-left: 120px;
    margin-bottom: 150px;
    cursor: pointer;
}

.movieTitle {
    text-align: center;
}

nav {
    text-align: center;
}

video {
    display:inline-block;
    margin:auto;
}

.black {
    text-decoration: none;
    color: #2484f8;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.posters {
    text-align: center;
}

.poster {
    width: 150px;
    height: 220px;
    display:inline-block;
    margin-top: 10px;
    cursor: pointer;
}
