.mainTitle {
    font-family: "Times New Roman";
    font-size: xx-large;
    font-weight: bold;
    color: #FF2300;
    text-align: center;
}

.player {
    text-align: center;
    height: 360px;
}

.back {
    height: 60px;
    width: 60px;
    display:inline-block;
    margin-right: 120px;
    margin-bottom: 150px;
}

.next {
    height: 60px;
    width: 60px;
    display:inline-block;
    margin-left: 120px;
    margin-bottom: 150px;
}

.movieTitle {
    text-align: center;
}

nav {
    text-align: center;
}

video {
    display:inline-block;
    margin:auto;
}

.black {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}

.posters {
    text-align: center;
}

.poster {
    width: 150px;
    height: 220px;
    display:inline-block;
}

p {
    font-family: Cambria,
    Cochin, Georgia, Times,
    "Times New Roman", serif;
    font-size: xx-large;
    font-weight: bold;
    color: #FF2300;
    background-color:
            #10E01E;
    text-align: center;
}

#DarkScience {
    border: 2px dotted;
    padding: 3%;
    background-color: #000000;
    width:100%;
}